In [1]:
s = {'a', 100, (1,2)}

In [2]:
type(s)

set

In [3]:
print(s)

{(1, 2), 100, 'a'}

In [4]:
s = {}
type(s)

dict

In [5]:
s = set()

In [6]:
type(s)

set

In [7]:
print(s)

set()

In [8]:
s

set()

In [9]:
s = set([1,2,3])

In [10]:
s

{1, 2, 3}

In [11]:
print(s)

{1, 2, 3}

In [12]:
s = set(range(10))

In [13]:
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [14]:
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
s = set([[1,2,3], [3,4]])

TypeError: unhashable type: 'list'

In [16]:
d = {'asd': 1, 'dads': 2}

In [17]:
s = d

In [18]:
s

{'asd': 1, 'dads': 2}

In [19]:
s =set(d)

In [20]:
s

{'asd', 'dads'}

In [21]:
s = {c for c in 'python'}

In [22]:
s

{'h', 'n', 'o', 'p', 't', 'y'}

In [23]:
print(s)

{'p', 'h', 'o', 'n', 't', 'y'}

In [24]:
set('pyhton')

{'h', 'n', 'o', 'p', 't', 'y'}

In [31]:
s1 = {'a', 'b', 'c'}
s2 = {1, 2,3, 'a'}

In [32]:
s = {*s1, *s2}

In [33]:
print(s)

{1, 2, 3, 'a', 'b', 'c'}

In [34]:
[*s1, *s2]

['a', 'c', 'b', 1, 2, 3, 'a']

In [35]:
def my_func(a,b,c):
    print(a, b, c)

In [36]:
args = {20, 10, 30}

In [37]:
my_func(*args)

10 20 30

In [38]:
def averger(*args):
    total = 0
    for arg in args:
        total+= arg
    return total / len(args)

In [39]:
averger(10, 20, 30)

20.0

In [40]:
averger(*args)

20.0

In [41]:
s = {'a', 'b', 'b'}

In [42]:
s

{'a', 'b'}

In [43]:
set('ppyhtonnn')

{'h', 'n', 'o', 'p', 't', 'y'}

In [45]:
def scorer(s):
    alphabet = set('abcdefghijklmnopqrstuvwxyz')
    s = s.lower()
    distinct = set(s)
    effective = distinct & alphabet
    return len(effective) / len(alphabet)

In [49]:
scorer('12')

0.0

In [50]:
s = {1,2,3}

In [51]:
len(s)

3

In [52]:
1 in s

True

In [53]:
4 in s

False

In [58]:
from timeit import timeit

n = 100_000
s = {i for i in range(n)}
l = [i for i in range(n)]
d = {i: None for i in range(n)}


number = 1_000_000
search = 9

t_list = timeit(f'{search} in l', globals=globals(),number=number)
t_set = timeit(f'{search} in s', globals=globals(),number=number)
t_dict = timeit(f'{search} in d', globals=globals(),number=number)

print(t_list, t_set, t_dict)

0.182800899958238 0.06203050003387034 0.050135400029830635

In [61]:

number = 1_000
search = 999_999

t_list = timeit(f'{search} in l', globals=globals(),number=number)
t_set = timeit(f'{search} in s', globals=globals(),number=number)
t_dict = timeit(f'{search} in d', globals=globals(),number=number)

print(t_list, t_set, t_dict)

1.1151651999680325 3.330002073198557e-05 3.6100042052567005e-05

In [62]:

number = 1_000
search = -1

t_list = timeit(f'{search} not in l', globals=globals(),number=number)
t_set = timeit(f'{search} not in s', globals=globals(),number=number)
t_dict = timeit(f'{search} not in d', globals=globals(),number=number)

print(t_list, t_set, t_dict)

1.1499001999618486 3.3400021493434906e-05 4.4599990360438824e-05

In [63]:
print(d.__sizeof__(), s.__sizeof__(), l.__sizeof__())

5242944 4194504 800968

In [64]:
s = set()
d = dict()
l = list()

In [65]:
print(d.__sizeof__(), s.__sizeof__(), l.__sizeof__())

48 200 40

In [66]:
s.add(10)
d[10] = None
l.append(10)

In [67]:
print(d.__sizeof__(), s.__sizeof__(), l.__sizeof__())

208 200 72

In [68]:
s = {1,2,3}

In [69]:
s.add(15)

In [70]:
s

{1, 2, 3, 15}

In [71]:
s.remove(1)

In [72]:
s

{2, 3, 15}

In [73]:
s.remove(100)

KeyError: 100

In [74]:
s.discard(100)

In [75]:
s = set('pyhton')

In [76]:
s

{'h', 'n', 'o', 'p', 't', 'y'}

In [77]:
s.pop()

'p'

In [78]:
s

{'h', 'n', 'o', 't', 'y'}

In [79]:
s = set('python')

In [80]:
while len(s) > 0:
    e = s.pop()
    print(e)

p
h
o
n
t
y

In [81]:
s

set()

In [82]:
s = set('python')
while True:
    try:
        e = s.pop()
        print(e)
    except KeyError:
        break

p
h
o
n
t
y

In [83]:
s = set('abc')

In [84]:
s

{'a', 'b', 'c'}

In [85]:
s.clear()

In [1]:
def is_pangram(s):
    alphabets = set('abcdefghijklmnopqrstuvwxyz')
    a = [alphabets.discard(i) for i in s]
    
    return len(alphabets) == 0

In [2]:
alphabets = set('abcdefghijklmnopqrstuvwxyz')

{'j', 'o', 'l', 'k', 'u', 'i', 'h', 'p', 'a', 'x', 'w', 'c', 'd', 'z', 'e', 'q', 'n', 'g', 'y', 'm', 't', 'b', 'v', 's', 'f', 'r'}

In [2]:

a = {}
a.get(1,'hi')

'hi'

In [5]:
'Alex, Jacob, and 2 others like this'
'Alex, Jacob and 2 others like this'

a = {
        0: 'no one likes this',
        1: '{} likes this', 
        2: '{} and {} like this', 
        3: '{}, {} and {} like this', 
        4: '{}, {} and {others} others like this'
    }[min(4, 2
          )]

In [6]:
print(a)

{} and {} like this

In [3]:
s1 = {1,2,3}
s2 = {2,3,4}
s3 = {3,4,5}

In [4]:
s1.intersection(s2)

{2, 3}

In [5]:
s1.intersection(s2, s3)

{3}

In [6]:
s1 & s2 & s3

{3}

In [11]:
print(s1)
print(s2)
print(s3)

{1, 2, 3}
{2, 3, 4}
{3, 4, 5}

In [12]:
s1.union(s2, s3)

{1, 2, 3, 4, 5}

In [13]:
s1 | s2 | s3

{1, 2, 3, 4, 5}

In [14]:
s1 = {1,2,3}
s2 = {2,3,4}
s3 = {30, 40, 50}

In [15]:
s1.isdisjoint(s2)

False

In [16]:
s1.isdisjoint(s3)

True

In [17]:
len(s1 & s2)

2

In [18]:
if len(s1 & s2) > 0:
    print('not disjoint')

not disjoint

In [19]:
bool([])

False

In [20]:
bool([0])

True

In [21]:
bool(set())

False

In [22]:
if s1 & s2:
    print('set not disjoint')

set not disjoint

In [24]:
if s1 & s3:
    print('set not disjoint')
else:
    print('sets disjoint')

sets disjoint

In [25]:
if not s1 & s3:
    print('sets disjoint')

sets disjoint

In [26]:
s1 = {1,2,3,4,5}
s2 = {4,5}

In [27]:
s1 - s2

{1, 2, 3}

In [28]:
s1.difference(s2)

{1, 2, 3}

In [29]:
s1 - s2

{1, 2, 3}

In [30]:
s2 - s2

set()

In [31]:
s2 - s1

set()

In [32]:
s1 = {1,2,3}
s2 = {3,4,}
s3 = {3,4}

In [33]:
s1 - (s2 - s3)

{1, 2, 3}

In [34]:
(s1 - s2) - s3

{1, 2}

In [35]:
s1.difference(s2, s3)

{1, 2}

In [36]:
s1 - s2 - s3

{1, 2}

In [37]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

In [38]:
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [39]:
s1 ^ s2

{1, 2, 3, 6, 7, 8}

In [40]:
s2 ^ s1

{1, 2, 3, 6, 7, 8}

In [41]:
s1 = {1,2,3}
s2 = {1,2,3}
s3 ={1,2,3,4}
s4 = {10, 20 ,30}

In [42]:
s1 is s2

False

In [43]:
s1 == s2

True

In [48]:
s1.issubset(s2)

True

In [49]:
s3.issubset(s1)

False

In [50]:
s3.issuperset(s1)

True

In [51]:
s3 > s1

True

In [52]:
s2 > s1

False

In [53]:
 # a <= b --> then a > b --> True

In [54]:
{1,2,3} & [2,3]

TypeError: unsupported operand type(s) for &: 'set' and 'list'

In [55]:
{1,2}.intersection([2,3])

{2}

In [56]:
{1,2}.intersection(range(10))

{1, 2}

In [57]:
{1,2,3}.intersection([(1,2), (2,3)])

set()

In [58]:
{1,2,3}.intersection([[1,2], (2,3)])

TypeError: unhashable type: 'list'

In [59]:
l1 = [1,2,3]
l2 = [2,3,4]

In [60]:
set(l1).intersection(l2)

{2, 3}

In [61]:
a = 0b101010
b = 0b110100

In [62]:
a,b

(42, 52)

In [63]:
type(a)

int

In [64]:
True and False

False

In [65]:
1 & 0

0

In [66]:
c = a & b

In [67]:
c

32

In [73]:
print(bin(a))
print(bin(b))
bin(c)

0b101010
0b110100

'0b111110'

In [70]:
c = a | b

In [72]:
print(bin(a))
print(bin(b))
bin(c)

0b101010
0b110100

'0b111110'

`x xor y --> True if x is True or y is True, but not bot`

In [74]:
c = a ^ b

In [75]:
print(bin(a))
print(bin(b))
bin(c)

0b101010
0b110100

'0b11110'

In [76]:

{1} ^ {1}

set()

In [77]:
{0} ^ {1}

{0, 1}

In [78]:
{0} ^ {0}

set()

In [2]:
a = 'hi TGher'
[print('yes') if i.lower() == i  else print('no') for i in a]

yes
yes
yes
no
no
yes
yes
yes

[None, None, None, None, None, None, None, None]

In [8]:
def solution(s):
    splited = s.split(' ')
    breaked = [i if i.lower() == i  else ''.join(j if j.lower()==j else ' '+j for j in i) for i in splited]
    return ' '.join(breaked)

solution('hi TherThan')

'hi  Ther Than'

In [17]:
print(a)
a = 'HiTher'
a.isupper()

H

False

In [21]:
def solution(s):
    return ''.join(' ' + c if c.isupper() else c for c in s)

a = 'hi TherThan'
print([c for c in a])
solution(a)

['h', 'i', ' ', 'T', 'h', 'e', 'r', 'T', 'h', 'a', 'n']

'hi  Ther Than'

In [1]:
s1 = {1,2,3}
s2 = {2,3,4}

In [2]:
print(s1, id(s1))
print(s2, id(s2))

{1, 2, 3} 2434655734240
{2, 3, 4} 2434655734464

In [3]:
s1 = s1 & s2

In [4]:
print(s1, id(s1))
print(s2, id(s2))

{2, 3} 2434655736256
{2, 3, 4} 2434655734464

In [5]:
globals()['s1']

{2, 3}

In [7]:
s1 = {1,2,3}
s2 = {2,3,4}
print(s1, id(s1))
print(s2, id(s2))

{1, 2, 3} 2434655734464
{2, 3, 4} 2434655734016

In [9]:
s1 |= s2
print(s1, id(s1))

{1, 2, 3, 4} 2434655734464

In [11]:
s1 = {1,2,3}
s2 = {2,3,4}
print(s1, id(s1))
print(s2, id(s2))
s1.update(s2)
print(s1, id(s1))

{1, 2, 3} 2434655734016
{2, 3, 4} 2434655739616
{1, 2, 3, 4} 2434655734016

In [14]:
s1 = {1,2,3}
s2 = {2,3,4}
print(s1, id(s1))
print(s2, id(s2))
s1.intersection_update(s2)
print(s1, id(s1))

{1, 2, 3} 2434656739264
{2, 3, 4} 2434656741056
{2, 3} 2434656739264

In [16]:
s1 = {1,2,3}
s2 = {2,3,4}
print(s1, id(s1))
print(s2, id(s2))
s1 &= s2
print(s1, id(s1))

{1, 2, 3} 2434656741504
{2, 3, 4} 2434656741280
{2, 3} 2434656741504

In [21]:
s1 = {1,2,3, 4}
s2 = {2,3}
print(id(s1))
s1 -= s2
print(id(s1), s1)

2434656740160
2434656740160 {1, 4}

In [22]:
s1 = {1,2,3, 4}
s2 = {2,3}
print(id(s1))
s1.difference_update(s2)
print(id(s1), s1)

2434656741280
2434656741280 {1, 4}

In [27]:
s1 = {1,2,3,4}
s2 = {2, 3}
s3 = {3, 4}

result = (s1 - s2) - s3
print(result)

s1 -= s2 - s3
print(s1)

{1}
{1, 3, 4}

In [25]:
s1 = {1,2,3,4}
s2 = {2, 3}
s3 = {3, 4}

result = s1 - (s2 - s3)
print(result)

s1 -= s2 - s3
print(s1)

{1, 3, 4}
{1, 3, 4}

In [29]:
s1 = {1,2,3,4}
s2 = {2, 3}
s3 = {3, 4}

result = s1 - (s2 - s3)
print(result)

s1 -= s2 - s3
print(s1)

s1 = {1,2,3,4}
s2 = {2, 3}
s3 = {3, 4}

s1.difference_update(s2, s3)
print(s1)

{1, 3, 4}
{1, 3, 4}
{1}

In [31]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7}
s1 ^ s2

{1, 2, 3, 6, 7}

In [32]:
print(id(s1))

2434656743296

In [33]:
s1 ^= s2

In [35]:
print(id(s1))

2434656743296

In [37]:
s1 = {1,2,3,4}
s2 = {3,4,5}
s3 = {5,6,7}

print(id(s1))
s1 |= s2 | s3
print(id(s1), s1)

2434656745984
2434656745984 {1, 2, 3, 4, 5, 6, 7}

In [38]:
s1 = {1,2,3}
s1.update([3,4,5], (6,7,8), 'abc')

In [40]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c'}

In [41]:
s1 = {1,2,3}
s1 |= set([3,4,5]) | set((6,5,4)) | set('avbc')

In [42]:
s1

{1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'v'}

In [43]:
def combine(string, target):
    target.update(string.split(' '))

In [44]:
def cleanup(combined):
    words = {'the', 'and', 'a', 'or', 'is', 'of'}
    combined -= words

In [48]:
result = set()
combine('lumberjacks sleep all night', result)
combine('the ministry of silly walks', result)
combine('this parrot is a late parrot', result)
cleanup(result)
print(result)

{'silly', 'all', 'sleep', 'walks', 'parrot', 'night', 'this', 'ministry', 'lumberjacks', 'late'}

In [49]:
def gen_read_data():
    yield ['shiraz', 'tehran', 'new york']
    yield ['Hi', 'There']
    yield ['why', 'did', 'i', 'do', 'this']

In [51]:
data = gen_read_data()

In [52]:
next(data)

['shiraz', 'tehran', 'new york']

In [53]:
def filter_incoming(*cities, data_set):
    data_set.difference_update(cities)

In [55]:
result = set()
data = gen_read_data()
for page in data:
    result.update(page)
    filter_incoming('Paris', "shiraz", data_set=result)
    
print(result)

{'i', 'new york', 'did', 'tehran', 'this', 'Hi', 'do', 'why', 'There'}

In [56]:
class Person:
    def __init__(self, name):
        self.name = name
    
    def __repr__(self):
        return f'Person(name={self.name})'

In [57]:
p1 = Person('shash')
p2 = Person('Elm')

In [58]:
hash(p1), hash(p2)

(152165978555, 152166232954)

In [66]:
s1 = {p1, p2}

In [61]:
s2 = s.copy()

In [67]:
s1 is s2

False

In [71]:
p1 in s1

True

In [72]:
p1 in s2

True

In [74]:
s3 = {*s1}

In [75]:
s1 == s3

True

In [76]:
s1 is s3

False

In [77]:
s1, s2, s3

({Person(name=Elm), Person(name=shash)},
 {Person(name=Elm), Person(name=shash)},
 {Person(name=Elm), Person(name=shash)})

In [79]:
p1.name = "SSSSS"

In [80]:
s1, s2, s3

({Person(name=Elm), Person(name=SSSSS)},
 {Person(name=Elm), Person(name=SSSSS)},
 {Person(name=Elm), Person(name=SSSSS)})

In [81]:
hash(p1)

152165978555

In [82]:
s4 = set(s1)

In [83]:
s1 == s4

True

In [84]:
s1 is s4

False

In [85]:
from copy import deepcopy

In [86]:
s5 = deepcopy(s1)

In [87]:
s1 is s5

False

In [88]:
s1, s5

({Person(name=Elm), Person(name=SSSSS)},
 {Person(name=Elm), Person(name=SSSSS)})

In [89]:
p1.name = "SSAW"

In [90]:
s1, s5

({Person(name=Elm), Person(name=SSAW)}, {Person(name=Elm), Person(name=SSSSS)})