In [1]:
squares = []

for i in range(10):
    squares.append(i ** 2)

In [2]:
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
squares = [i **  2 for i in range(10)]

In [4]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
squares = []

for i in range(10):
    if i%2:
        squares.append(i **2)

In [6]:
print(squares)

[1, 9, 25, 49, 81]

In [7]:
squares = [i ** 2 for i in range(10) if i%2]

In [8]:
print(squares)

[1, 9, 25, 49, 81]

In [13]:
compile_code = compile("[i ** 2 for i in (1,2,3)]", filename='string', mode='eval')

In [14]:
import dis

In [15]:
dis.dis(compile_code)

  0           0 RESUME                   0

  1           2 LOAD_CONST               0 ((1, 2, 3))
              4 GET_ITER
              6 LOAD_FAST_AND_CLEAR      0 (i)
              8 SWAP                     2
             10 BUILD_LIST               0
             12 SWAP                     2
        >>   14 FOR_ITER                 7 (to 32)
             18 STORE_FAST               0 (i)
             20 LOAD_FAST                0 (i)
             22 LOAD_CONST               1 (2)
             24 BINARY_OP                8 (**)
             28 LIST_APPEND              2
             30 JUMP_BACKWARD            9 (to 14)
        >>   32 END_FOR
             34 SWAP                     2
             36 STORE_FAST               0 (i)
             38 RETURN_VALUE
        >>   40 SWAP                     2
             42 POP_TOP
             44 SWAP                     2
             46 STORE_FAST               0 (i)
             48 RERAISE                  0
ExceptionTable:
  10 to 32 -> 40 [2]

In [18]:
table = [
    [i * j 
    for i in range(1,11)
    ]for j in range(1,11)
]

In [19]:
print(table)

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [3, 6, 9, 12, 15, 18, 21, 24, 27, 30], [4, 8, 12, 16, 20, 24, 28, 32, 36, 40], [5, 10, 15, 20, 25, 30, 35, 40, 45, 50], [6, 12, 18, 24, 30, 36, 42, 48, 54, 60], [7, 14, 21, 28, 35, 42, 49, 56, 63, 70], [8, 16, 24, 32, 40, 48, 56, 64, 72, 80], [9, 18, 27, 36, 45, 54, 63, 72, 81, 90], [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [20]:
table

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [33]:
from math import factorial
size = 10
khayam = [
    [factorial(n) // (factorial(k) * factorial(n-k)) for k in range(n+1)] for n in range(size)
]

In [34]:
khayam

[[1],
 [1, 1],
 [1, 2, 1],
 [1, 3, 3, 1],
 [1, 4, 6, 4, 1],
 [1, 5, 10, 10, 5, 1],
 [1, 6, 15, 20, 15, 6, 1],
 [1, 7, 21, 35, 35, 21, 7, 1],
 [1, 8, 28, 56, 70, 56, 28, 8, 1],
 [1, 9, 36, 84, 126, 126, 84, 36, 9, 1]]

In [35]:
l1 = ['a', 'b', 'c']
l2 = ['x', 'y', 'z']

In [38]:
inner = [
    v1 + v2
    for v1 in l1
    for v2 in l2
]

In [39]:
inner

['ax', 'ay', 'az', 'bx', 'by', 'bz', 'cx', 'cy', 'cz']

In [40]:
l1 = ['a', 'b', 'c']
l2 = ['b', 'c', 'd']

In [51]:
result = [
    i+j
    for i in l1
    for j in l2
    if i != j
]

In [52]:
result

['ab', 'ac', 'ad', 'bc', 'bd', 'cb', 'cd']

In [53]:
l1 = [1,2,3,4,5,6,7,8]
l2 =['a', 'b', 'c']

In [54]:
zip(l1,l2)

In [55]:
list(zip(l1,l2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [56]:
list(enumerate(l2))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [61]:
result = [
    (ii, jj)
    for i, ii in enumerate(l1)
    for j, jj in enumerate(l2)
    if i == j 
]

In [62]:
result

[(1, 'a'), (2, 'b'), (3, 'c')]

In [63]:
l = [1,2,3,4]
sum(l)

10

In [68]:
dot = 0
v1 = [1,2,3,4]
v2 = [2,3,4,5]
for i in range(len(v1)):
    dot += v1[i]*v2[i]

In [69]:
dot

40

In [72]:
dot = 0
for i,j in zip(v1,v2):
    dot += i*j

In [73]:
dot

40

In [74]:
sum([
    i*j
    for i, j in zip(v1, v2)
])

40

In [84]:
a = [lambda x, p=i: x**p for i in range(4)]

In [85]:
a[1](10)

10

In [80]:
a

[<function __main__.<lambda>(x, p=4)>,
 <function __main__.<lambda>(x, p=4)>,
 <function __main__.<lambda>(x, p=4)>,
 <function __main__.<lambda>(x, p=4)>]