### Project

For this project you are given a file that contains some parking ticket violations for NYC.

(It's just a tiny extract!)

If you're wondering where I get these data sets, Kaggle is an **excellent** source of data sets in a whole variety of topics: 
https://www.kaggle.com/

You have to sign up, but it's free.

If you want the full data set, it's available here: https://www.kaggle.com/new-york-city/nyc-parking-tickets/version/2#

For this sample data set, the file is named: 
```
nyc_parking_tickets_extract.csv
```

Your goals are as follows:

##### Goal 1
Create a lazy iterator that will return a named tuple of the data in each row. The data types should be appropriate - i.e. if the column is a date, you should be storing dates in the named tuple, if the field is an integer, then it should be stored as an integer, etc.

##### Goal 2

Calculate the number of violations by car make.

##### Note:
Try to use lazy evaluation as much as possible - it may not always be possible though! That's OK, as long as it's kept to a minimum.

In [9]:
from collections import namedtuple
from datetime import datetime

tickets  = []

tickets_file_name = "nyc_parking_tickets_extract.csv"

data_file = open(tickets_file_name)

headers = next(data_file).strip('\n').replace(' ', '_').lower().split(',')
print(headers)

# with open(data_name) as f:
#     print(type(f))
#     file = iter(f)
#     headers = next(file).strip('\n').replace(' ', '_').split(',')
#     print("headers: \n", headers)

def read_file(name):
    with open(name) as f:
        next(f)
        yield from f


Tickets = namedtuple("Tickets", headers)

def to_int(value):
    return int(value)

def to_str(value):
    return str(value)

date_format = '%m/%d/%Y'
def to_date(value):
    return datetime.strptime(value, date_format)
funcs = [to_int, to_str, to_str,to_str, to_date, to_int,to_str,to_str,to_str]

def parse_tickets(row):
   return [func(data) for data, func in zip(row,funcs)]

file = read_file(tickets_file_name)
for _ in range(10):
    row = next(file).strip('\n').split(',')
    parsed = parse_tickets(row)
    # print(parsed)
    tickets.append(Tickets(*parsed))

data_file.close()

tickets

['summons_number', 'plate_id', 'registration_state', 'plate_type', 'issue_date', 'violation_code', 'vehicle_body_type', 'vehicle_make', 'violation_description']

[Tickets(summons_number=4006478550, plate_id='VAD7274', registration_state='VA', plate_type='PAS', issue_date=datetime.datetime(2016, 10, 5, 0, 0), violation_code=5, vehicle_body_type='4D', vehicle_make='BMW', violation_description='BUS LANE VIOLATION'),
 Tickets(summons_number=4006462396, plate_id='22834JK', registration_state='NY', plate_type='COM', issue_date=datetime.datetime(2016, 9, 30, 0, 0), violation_code=5, vehicle_body_type='VAN', vehicle_make='CHEVR', violation_description='BUS LANE VIOLATION'),
 Tickets(summons_number=4007117810, plate_id='21791MG', registration_state='NY', plate_type='COM', issue_date=datetime.datetime(2017, 4, 10, 0, 0), violation_code=5, vehicle_body_type='VAN', vehicle_make='DODGE', violation_description='BUS LANE VIOLATION'),
 Tickets(summons_number=4006265037, plate_id='FZX9232', registration_state='NY', plate_type='PAS', issue_date=datetime.datetime(2016, 8, 23, 0, 0), violation_code=5, vehicle_body_type='SUBN', vehicle_make='FORD', violation_description='BUS LANE VIOLATION'),
 Tickets(summons_number=4006535600, plate_id='N203399C', registration_state='NY', plate_type='OMT', issue_date=datetime.datetime(2016, 10, 19, 0, 0), violation_code=5, vehicle_body_type='SUBN', vehicle_make='FORD', violation_description='BUS LANE VIOLATION'),
 Tickets(summons_number=4007156700, plate_id='92163MG', registration_state='NY', plate_type='COM', issue_date=datetime.datetime(2017, 4, 13, 0, 0), violation_code=5, vehicle_body_type='VAN', vehicle_make='FRUEH', violation_description='BUS LANE VIOLATION'),
 Tickets(summons_number=4006687989, plate_id='MIQ600', registration_state='SC', plate_type='PAS', issue_date=datetime.datetime(2016, 11, 21, 0, 0), violation_code=5, vehicle_body_type='VN', vehicle_make='HONDA', violation_description='BUS LANE VIOLATION'),
 Tickets(summons_number=4006943052, plate_id='2AE3984', registration_state='MD', plate_type='PAS', issue_date=datetime.datetime(2017, 2, 1, 0, 0), violation_code=5, vehicle_body_type='SW', vehicle_make='LINCO', violation_description='BUS LANE VIOLATION'),
 Tickets(summons_number=4007306795, plate_id='HLG4926', registration_state='NY', plate_type='PAS', issue_date=datetime.datetime(2017, 5, 30, 0, 0), violation_code=5, vehicle_body_type='SUBN', vehicle_make='TOYOT', violation_description='BUS LANE VIOLATION'),
 Tickets(summons_number=4007124590, plate_id='T715907C', registration_state='NY', plate_type='OMT', issue_date=datetime.datetime(2017, 4, 3, 0, 0), violation_code=5, vehicle_body_type='SUBN', vehicle_make='TOYOT', violation_description='BUS LANE VIOLATION')]

In [3]:
[
    '4006462396', int
    '22834JK', string
    'NY', string
    'COM', string
    '9/30/2016', date
    '5', int
    'VAN', string
    'CHEVR', string
    'BUS LANE VIOLATION' string
]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1447813010.py, line 10)