In [3]:
l1 = [1,2,3,4]
l2 = [5, 6]

print(id(l1), l1)
print(id(l2), l2)

2710341259392 [1, 2, 3, 4]
2710340986560 [5, 6]

In [4]:
l1 = l1 + l2

In [5]:
print(id(l1), l1)
print(id(l2), l2)

2710341697216 [1, 2, 3, 4, 5, 6]
2710340986560 [5, 6]

In [6]:
t1 = (1,2,3);

In [7]:
l1 += l2
print(id(l1))

2710341697216

In [8]:
l1 = [1,2,3,4]
t1 = (1,2,3);

print(id(l1), l1)
print(id(t1), t1)

2710341259136 [1, 2, 3, 4]
2710342213632 (1, 2, 3)

In [9]:
l1 = l1 + t1

TypeError: can only concatenate list (not "tuple") to list

In [10]:
l1 += t1

In [11]:
l1

[1, 2, 3, 4, 1, 2, 3]

In [12]:
print(id(l1), t1)

2710341259136 (1, 2, 3)

In [13]:
l1 += range(7, 11)

In [14]:
print(l1)

[1, 2, 3, 4, 1, 2, 3, 7, 8, 9, 10]

In [15]:
l1 += {100, 'X'}

In [16]:
l1

[1, 2, 3, 4, 1, 2, 3, 7, 8, 9, 10, 100, 'X']

In [21]:
print(id(t1))
print(id(t2))

2710346210592
2710356721216

In [30]:
t1 = (1,2,3)
t2 = (2,3,4)

print(id(t1), t1)
print(id(t2), t2)

2710356718144 (1, 2, 3)
2710356506944 (2, 3, 4)

In [31]:
t1 += t2

In [32]:
print(id(t1), t1)
print(id(t2), t2)

2710346210592 (1, 2, 3, 2, 3, 4)
2710356506944 (2, 3, 4)

In [33]:
l1 = [1,2,4]
print(id(l1), l1)

2710356587008 [1, 2, 4]

In [34]:
l1 = l1 * 2

In [35]:
print(id(l1), l1)

2710356576000 [1, 2, 4, 1, 2, 4]

In [36]:
l1 *= 2;

In [37]:
print(id(l1), l1)

2710356576000 [1, 2, 4, 1, 2, 4, 1, 2, 4, 1, 2, 4]

In [38]:
l1 = [1,2,3,4]
l2 = [5,6,7,7]
print(id(l1), l1)
print(id(l2), l2)

2710356580800 [1, 2, 3, 4]
2710356611200 [5, 6, 7, 7]

In [39]:
l = [1,2,3]
t = (1,2,3)
s = 'pythin'

In [40]:
l[0]

1

In [41]:
t[0]

1

In [42]:
s[3]

'h'

In [43]:
for c in s:
    print(c)

p
y
t
h
i
n

In [44]:
s = {10, 20, 30}

In [45]:
for e in s:
    print(e)

10
20
30

In [46]:
s[1]

TypeError: 'set' object is not subscriptable

In [47]:
s = {'x', 10, 'a', 'A'}

In [48]:
for e in s:
    print(e)

a
x
10
A

In [49]:
l [ 1,2,3,4]
t (1,2,3,4)

TypeError: list indices must be integers or slices, not tuple

In [50]:
t[0] = 1

TypeError: 'tuple' object does not support item assignment

In [51]:
l[0] = 100

In [52]:
t = ([1,2,3], 2,3,4)

In [53]:
t[0][0]= 100

In [54]:
t

([100, 2, 3], 2, 3, 4)

In [55]:
'a' in ['1']

False

In [56]:
'a' in ['a']

True

In [57]:
100 in range(200)

True

In [58]:
len('python'), len([1,2,3]), len({10, 20, 30}), len({'a':1})

(6, 3, 3, 1)

In [59]:
{a: 2}

{2: 2}

In [60]:
a

2

In [61]:
{bb: 2}

NameError: name 'bb' is not defined

In [62]:
2 + 2j < 100 + 100

TypeError: '<' not supported between instances of 'complex' and 'int'

In [63]:
l = [100, 90. 20]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3171371650.py, line 1)

In [64]:
l [100, 20]

TypeError: list indices must be integers or slices, not tuple

In [65]:
l = [100, 20]

In [66]:
max(l)

100

In [67]:
l = [2+2j, 2]

In [68]:
max(;)

SyntaxError: invalid syntax (1802955260.py, line 1)

In [69]:
max(l)

TypeError: '>' not supported between instances of 'int' and 'complex'

In [70]:
l ['a', 'b']

TypeError: list indices must be integers or slices, not tuple

In [71]:
l = ['a', 'b']

In [72]:
max(l)

'b'

In [73]:
l = ['a', 10]

In [74]:
max(l)

TypeError: '>' not supported between instances of 'int' and 'str'

In [75]:
from decimal import Decimal

In [76]:
l = [10, 10.5, Decimal('20.3')]

In [77]:
max(l)

Decimal('20.3')

In [78]:
[1,2,3] + [3,4,5]

[1, 2, 3, 3, 4, 5]

In [79]:
[1,2,3] + (1,2,43)

TypeError: can only concatenate list (not "tuple") to list

In [80]:
'abc' + [1,2,3]

TypeError: can only concatenate str (not "list") to str

In [81]:
list('abc')

['a', 'b', 'c']

In [83]:
list('abc') + ['d']

['a', 'b', 'c', 'd']

In [84]:
'***'.join('d','b')

TypeError: str.join() takes exactly one argument (2 given)

In [85]:
'***'.join([1,2,3])

TypeError: sequence item 0: expected str instance, int found

In [86]:
'***'.join(['1', '2', '3'])

'1***2***3'

In [87]:
','.join(['1', '2'])

'1,2'

In [88]:
''.join('abc') + ['1']

TypeError: can only concatenate str (not "list") to str

In [89]:
'abc' * 3

'abcabcabc'

In [90]:
[1,2,3] * 2

[1, 2, 3, 1, 2, 3]

In [91]:
s = "gnu's not unix";

In [92]:
enumerate(s)

In [93]:
list(enumerate(s))

[(0, 'g'),
 (1, 'n'),
 (2, 'u'),
 (3, "'"),
 (4, 's'),
 (5, ' '),
 (6, 'n'),
 (7, 'o'),
 (8, 't'),
 (9, ' '),
 (10, 'u'),
 (11, 'n'),
 (12, 'i'),
 (13, 'x')]

In [94]:
list(enumerate("python"))

[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [95]:
list(enumerate([1,2,3]))

[(0, 1), (1, 2), (2, 3)]

In [96]:
s.index('n')

1

In [97]:
s.index('n', 2)

6

In [98]:
s.index('n', 1)

1

In [99]:
s.index('n', 7)

11

In [100]:
s.index('n', 22)

ValueError: substring not found

In [101]:
s.index('z')

ValueError: substring not found

In [102]:
s.index('n', 12)

ValueError: substring not found

In [103]:
s = 'python'
l = [1,2,3,4,5,6,7,8]

In [104]:
js[1:4]

'yth'

In [105]:
jlist(enumerate(s))

[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [106]:
l[0:5]

[1, 2, 3, 4, 5]

In [107]:
js[1:1000]

'ython'

In [108]:
js[:]

'python'

In [109]:
jjs[4:]

'on'

In [111]:
l = [1,23,3]

In [112]:
l2 = l[:]

In [113]:
id(l), id(l2)

(2710357242048, 2710356421440)

In [114]:
l is l2

False

In [115]:
s[-1]

'n'

In [116]:
s[0::-1]

'p'

In [117]:
s

'python'

In [118]:
s[0:5:2]

'pto'

In [119]:
s[5:0:-1]

'nohty'

In [120]:
s{::-1}

SyntaxError: invalid syntax (2331423611.py, line 1)

In [121]:
s[::1]

'python'

In [123]:
a = Decimal(10.5)

In [124]:
b = Decimal(10.5)

In [125]:
a is b

False

In [126]:
a == b

True

In [127]:
l = [Decimal('10.5')]

In [128]:
l =[0,0]
l2 = l2*2

In [129]:
l2

[1, 23, 3, 1, 23, 3]

In [130]:
l2 = l*2

In [131]:
l2

[0, 0, 0, 0]

In [132]:
l1 = [[0,0]]
l2 = l1 * 2
print(l1)
print(l2)

[[0, 0]]
[[0, 0], [0, 0]]

In [133]:
l1[0][0] = 100

In [134]:
l2

[[100, 0], [100, 0]]

In [135]:
l = [1,2,3,4,5]

In [136]:
print(id(l))

2710356580800

In [137]:
l[0]

1

In [138]:
l[0] = 'a'

In [139]:
print(id(l))

2710356580800

In [140]:
l.clear()

In [141]:
print(l)

[]

In [142]:
print(id(l))

2710356580800

In [143]:
l = [1,2,3,4]

In [144]:
print(id(l))

2710341170560

In [145]:
suits = ['Spades', 'hearts', "Diamond", "Clubs"]

In [146]:
alias = suits

In [147]:
alias is suits

True

In [148]:
alias.clear()

In [149]:
suits

[]

In [150]:
suits = ['Spades', 'hearts', "Diamond", "Clubs"]

In [151]:
def somthing(l):
    l.append('None')

In [152]:
somthing(suits)

In [153]:
suits

['Spades', 'hearts', 'Diamond', 'Clubs', 'None']

In [154]:
l = [1,2,3,4,5]

In [155]:
l

[1, 2, 3, 4, 5]

In [156]:
l[1:3] = (6,7,8,9)

In [157]:
l

[1, 6, 7, 8, 9, 4, 5]

In [158]:
l.append(77)

In [159]:
l

[1, 6, 7, 8, 9, 4, 5, 77]

In [160]:
results = l.append(4)

In [161]:
results

In [162]:
type(results)

NoneType

In [163]:
l.extend([44])

In [164]:
l

[1, 6, 7, 8, 9, 4, 5, 77, 4, 44]

In [165]:
l.extend(['a', 'b', 'c'])

In [166]:
l

[1, 6, 7, 8, 9, 4, 5, 77, 4, 44, 'a', 'b', 'c']

In [167]:
l.extend({'s', 'b'})

In [168]:
l

[1, 6, 7, 8, 9, 4, 5, 77, 4, 44, 'a', 'b', 'c', 's', 'b']

In [169]:
l = [1,2,3,4]

In [170]:
result = l.pop()

In [171]:
resutls

NameError: name 'resutls' is not defined

In [172]:
result

4

In [173]:
type(resutls)

NameError: name 'resutls' is not defined

In [174]:
type(result)

int

In [175]:
  del l[1]

In [176]:
del l[1]

In [177]:
l

[1]

In [178]:
l

[1]

In [179]:
l = [1,2,3,4]

In [180]:
del l[1]

In [181]:
l

[1, 3, 4]

In [182]:
l.insert(1, 'a')

In [183]:
l

[1, 'a', 3, 4]

In [184]:
l = [6,4,,6,1]

SyntaxError: invalid syntax (1890005026.py, line 1)

In [185]:
l [ 4,5,6,7]

TypeError: list indices must be integers or slices, not tuple

In [186]:
l = [3,4,5,1]

In [187]:
l.inser(1,'a')

AttributeError: 'list' object has no attribute 'inser'

In [188]:
l.isert(1, 'a')

AttributeError: 'list' object has no attribute 'isert'

In [189]:
l

[3, 4, 5, 1]

In [190]:
l.insert(1, 'dd')

In [191]:
l

[3, 'dd', 4, 5, 1]

In [192]:
l[::-1]

[1, 5, 4, 'dd', 3]

In [193]:
l

[3, 'dd', 4, 5, 1]

In [194]:
l.reverse()

In [195]:
l

[1, 5, 4, 'dd', 3]

In [196]:
from dis import dis

In [197]:
(1,2,3)

(1, 2, 3)

In [198]:
j[1,2,3]

[1, 2, 3]

In [199]:
dis(compile('(1,2,3,"a")', 'string', 'eval'))

  0           0 RESUME                   0

  1           2 RETURN_CONST             0 ((1, 2, 3, 'a'))

In [200]:
dis(compile('[1,2,3,"a"]', 'string', 'eval'))

  0           0 RESUME                   0

  1           2 BUILD_LIST               0
              4 LOAD_CONST               0 ((1, 2, 3, 'a'))
              6 LIST_EXTEND              1
              8 RETURN_VALUE

In [201]:
dis(compile('[1,2,3,[1,2,4]]', 'string', 'eval'))

  0           0 RESUME                   0

  1           2 LOAD_CONST               0 (1)
              4 LOAD_CONST               1 (2)
              6 LOAD_CONST               2 (3)
              8 BUILD_LIST               0
             10 LOAD_CONST               3 ((1, 2, 4))
             12 LIST_EXTEND              1
             14 BUILD_LIST               4
             16 RETURN_VALUE

In [202]:
dis(compile('(1,2,3,[1,2,4])', 'string', 'eval'))

  0           0 RESUME                   0

  1           2 LOAD_CONST               0 (1)
              4 LOAD_CONST               1 (2)
              6 LOAD_CONST               2 (3)
              8 BUILD_LIST               0
             10 LOAD_CONST               3 ((1, 2, 4))
             12 LIST_EXTEND              1
             14 BUILD_TUPLE              4
             16 RETURN_VALUE

In [203]:
dis(compile('(1,2,3,(1,2,4))', 'string', 'eval'))

  0           0 RESUME                   0

  1           2 RETURN_CONST             0 ((1, 2, 3, (1, 2, 4)))

In [204]:
from timeit import timeit

In [205]:
timeit("(1,2,3,4,5,6,7,8,9)", number=10_000_000)

2.1983470999985

In [206]:
timeit("[1,2,3,4,5,6,7,8,9]", number=10_000_000)

3.2206377999973483

In [207]:
timeit("(1,2,3,4,5,(6,6,6),7,8,9)", number=10_000_000)

2.204353299981449

In [208]:
timeit("[1,2,3,4,5,[6,6,6],7,8,9]", number=10_000_000)

3.7426100999873597

In [209]:
def fn1():
    pass

In [210]:
dis(compile('(fn1, 10, 10)', 'string', 'eval'))

  0           0 RESUME                   0

  1           2 LOAD_NAME                0 (fn1)
              4 LOAD_CONST               0 (10)
              6 LOAD_CONST               0 (10)
              8 BUILD_TUPLE              3
             10 RETURN_VALUE

In [211]:
timeit("[1,2], 10, 20", number=1_000_000)

0.4579063999990467

In [212]:
timeit("([1,2], 10, 20)", number=1_000_000)

0.44151519998558797

In [213]:
timeit("[[1,2], 10, 20]", number=1_000_000)

0.48102489998564124

In [214]:
l1 = [1,2,3,4,5,6,7,8,9]
t1 = (1,2,3,4,5,6,7,8,9)

In [215]:
id(l1), id(l2)

(2710357434368, 2710357467840)

In [216]:
l2 = list(l1)

In [219]:
id(l1),id(l2)

(2710357434368, 2710356625920)

In [220]:
t2 = tuple(t1)

In [221]:
id(t1), id(t2)

(2710357897408, 2710357897408)

In [222]:
timeit('tuple((1,2,3,4,5))', number=5_000_000)

1.5111205000139307

In [223]:
timeit('list((1,2,3,4,5))', number=5_000_000)

1.7458194000064395

In [225]:
import sys
t = tuple();
prev = sys.getsizeof(t);
for i in range(10):
    c = tuple(range(i+1))
    size_c = sys.getsizeof(c);
    delta, prev = size_c - prev, size_c
    print(f'{i+1} items: {size_c}, delta={delta}');

1 items: 48, delta=8
2 items: 56, delta=8
3 items: 64, delta=8
4 items: 72, delta=8
5 items: 80, delta=8
6 items: 88, delta=8
7 items: 96, delta=8
8 items: 104, delta=8
9 items: 112, delta=8
10 items: 120, delta=8

In [226]:
l = list();
prev = sys.getsizeof(l);

for i in range(10):
    c = list(range(i+1))
    size_c = sys.getsizeof(c)
    delta, prev = size_c - prev, size_c
    print(f'{i+1} items: {size_c}, delta={delta}')

1 items: 72, delta=16
2 items: 72, delta=0
3 items: 88, delta=16
4 items: 88, delta=0
5 items: 104, delta=16
6 items: 104, delta=0
7 items: 120, delta=16
8 items: 120, delta=0
9 items: 136, delta=16
10 items: 136, delta=0

In [228]:
c = list()
prev = sys.getsizeof(c);
print(f'0 items: {prev}')
for i in range(255):
    c.append(i)
    size_c = sys.getsizeof(c)
    delta, prev = size_c - prev, size_c
    print(f'{i+1} items: {size_c}, delta={delta}')

0 items: 56
1 items: 88, delta=32
2 items: 88, delta=0
3 items: 88, delta=0
4 items: 88, delta=0
5 items: 120, delta=32
6 items: 120, delta=0
7 items: 120, delta=0
8 items: 120, delta=0
9 items: 184, delta=64
10 items: 184, delta=0
11 items: 184, delta=0
12 items: 184, delta=0
13 items: 184, delta=0
14 items: 184, delta=0
15 items: 184, delta=0
16 items: 184, delta=0
17 items: 248, delta=64
18 items: 248, delta=0
19 items: 248, delta=0
20 items: 248, delta=0
21 items: 248, delta=0
22 items: 248, delta=0
23 items: 248, delta=0
24 items: 248, delta=0
25 items: 312, delta=64
26 items: 312, delta=0
27 items: 312, delta=0
28 items: 312, delta=0
29 items: 312, delta=0
30 items: 312, delta=0
31 items: 312, delta=0
32 items: 312, delta=0
33 items: 376, delta=64
34 items: 376, delta=0
35 items: 376, delta=0
36 items: 376, delta=0
37 items: 376, delta=0
38 items: 376, delta=0
39 items: 376, delta=0
40 items: 376, delta=0
41 items: 472, delta=96
42 items: 472, delta=0
43 items: 472, delta=0
44 items: 472, delta=0
45 items: 472, delta=0
46 items: 472, delta=0
47 items: 472, delta=0
48 items: 472, delta=0
49 items: 472, delta=0
50 items: 472, delta=0
51 items: 472, delta=0
52 items: 472, delta=0
53 items: 568, delta=96
54 items: 568, delta=0
55 items: 568, delta=0
56 items: 568, delta=0
57 items: 568, delta=0
58 items: 568, delta=0
59 items: 568, delta=0
60 items: 568, delta=0
61 items: 568, delta=0
62 items: 568, delta=0
63 items: 568, delta=0
64 items: 568, delta=0
65 items: 664, delta=96
66 items: 664, delta=0
67 items: 664, delta=0
68 items: 664, delta=0
69 items: 664, delta=0
70 items: 664, delta=0
71 items: 664, delta=0
72 items: 664, delta=0
73 items: 664, delta=0
74 items: 664, delta=0
75 items: 664, delta=0
76 items: 664, delta=0
77 items: 792, delta=128
78 items: 792, delta=0
79 items: 792, delta=0
80 items: 792, delta=0
81 items: 792, delta=0
82 items: 792, delta=0
83 items: 792, delta=0
84 items: 792, delta=0
85 items: 792, delta=0
86 items: 792, delta=0
87 items: 792, delta=0
88 items: 792, delta=0
89 items: 792, delta=0
90 items: 792, delta=0
91 items: 792, delta=0
92 items: 792, delta=0
93 items: 920, delta=128
94 items: 920, delta=0
95 items: 920, delta=0
96 items: 920, delta=0
97 items: 920, delta=0
98 items: 920, delta=0
99 items: 920, delta=0
100 items: 920, delta=0
101 items: 920, delta=0
102 items: 920, delta=0
103 items: 920, delta=0
104 items: 920, delta=0
105 items: 920, delta=0
106 items: 920, delta=0
107 items: 920, delta=0
108 items: 920, delta=0
109 items: 1080, delta=160
110 items: 1080, delta=0
111 items: 1080, delta=0
112 items: 1080, delta=0
113 items: 1080, delta=0
114 items: 1080, delta=0
115 items: 1080, delta=0
116 items: 1080, delta=0
117 items: 1080, delta=0
118 items: 1080, delta=0
119 items: 1080, delta=0
120 items: 1080, delta=0
121 items: 1080, delta=0
122 items: 1080, delta=0
123 items: 1080, delta=0
124 items: 1080, delta=0
125 items: 1080, delta=0
126 items: 1080, delta=0
127 items: 1080, delta=0
128 items: 1080, delta=0
129 items: 1240, delta=160
130 items: 1240, delta=0
131 items: 1240, delta=0
132 items: 1240, delta=0
133 items: 1240, delta=0
134 items: 1240, delta=0
135 items: 1240, delta=0
136 items: 1240, delta=0
137 items: 1240, delta=0
138 items: 1240, delta=0
139 items: 1240, delta=0
140 items: 1240, delta=0
141 items: 1240, delta=0
142 items: 1240, delta=0
143 items: 1240, delta=0
144 items: 1240, delta=0
145 items: 1240, delta=0
146 items: 1240, delta=0
147 items: 1240, delta=0
148 items: 1240, delta=0
149 items: 1432, delta=192
150 items: 1432, delta=0
151 items: 1432, delta=0
152 items: 1432, delta=0
153 items: 1432, delta=0
154 items: 1432, delta=0
155 items: 1432, delta=0
156 items: 1432, delta=0
157 items: 1432, delta=0
158 items: 1432, delta=0
159 items: 1432, delta=0
160 items: 1432, delta=0
161 items: 1432, delta=0
162 items: 1432, delta=0
163 items: 1432, delta=0
164 items: 1432, delta=0
165 items: 1432, delta=0
166 items: 1432, delta=0
167 items: 1432, delta=0
168 items: 1432, delta=0
169 items: 1432, delta=0
170 items: 1432, delta=0
171 items: 1432, delta=0
172 items: 1432, delta=0
173 items: 1656, delta=224
174 items: 1656, delta=0
175 items: 1656, delta=0
176 items: 1656, delta=0
177 items: 1656, delta=0
178 items: 1656, delta=0
179 items: 1656, delta=0
180 items: 1656, delta=0
181 items: 1656, delta=0
182 items: 1656, delta=0
183 items: 1656, delta=0
184 items: 1656, delta=0
185 items: 1656, delta=0
186 items: 1656, delta=0
187 items: 1656, delta=0
188 items: 1656, delta=0
189 items: 1656, delta=0
190 items: 1656, delta=0
191 items: 1656, delta=0
192 items: 1656, delta=0
193 items: 1656, delta=0
194 items: 1656, delta=0
195 items: 1656, delta=0
196 items: 1656, delta=0
197 items: 1656, delta=0
198 items: 1656, delta=0
199 items: 1656, delta=0
200 items: 1656, delta=0
201 items: 1912, delta=256
202 items: 1912, delta=0
203 items: 1912, delta=0
204 items: 1912, delta=0
205 items: 1912, delta=0
206 items: 1912, delta=0
207 items: 1912, delta=0
208 items: 1912, delta=0
209 items: 1912, delta=0
210 items: 1912, delta=0
211 items: 1912, delta=0
212 items: 1912, delta=0
213 items: 1912, delta=0
214 items: 1912, delta=0
215 items: 1912, delta=0
216 items: 1912, delta=0
217 items: 1912, delta=0
218 items: 1912, delta=0
219 items: 1912, delta=0
220 items: 1912, delta=0
221 items: 1912, delta=0
222 items: 1912, delta=0
223 items: 1912, delta=0
224 items: 1912, delta=0
225 items: 1912, delta=0
226 items: 1912, delta=0
227 items: 1912, delta=0
228 items: 1912, delta=0
229 items: 1912, delta=0
230 items: 1912, delta=0
231 items: 1912, delta=0
232 items: 1912, delta=0
233 items: 2200, delta=288
234 items: 2200, delta=0
235 items: 2200, delta=0
236 items: 2200, delta=0
237 items: 2200, delta=0
238 items: 2200, delta=0
239 items: 2200, delta=0
240 items: 2200, delta=0
241 items: 2200, delta=0
242 items: 2200, delta=0
243 items: 2200, delta=0
244 items: 2200, delta=0
245 items: 2200, delta=0
246 items: 2200, delta=0
247 items: 2200, delta=0
248 items: 2200, delta=0
249 items: 2200, delta=0
250 items: 2200, delta=0
251 items: 2200, delta=0
252 items: 2200, delta=0
253 items: 2200, delta=0
254 items: 2200, delta=0
255 items: 2200, delta=0

In [229]:
t = tuple(range(100_000));
l = list(t);

In [230]:
timeit('t[99_999]', globals=global(), number=10_000)

SyntaxError: invalid syntax (861395168.py, line 1)

In [231]:
timeit('t[99_999]', globals=globals(), number=10_000)

0.0052903000032529235

In [232]:
timeit('tl[99_999]', globals=globals(), number=10_000)

NameError: name 'tl' is not defined

In [233]:
timeit('l[99_999]', globals=globals(), number=10_000)

0.005551799986278638

In [234]:
l1 = [1,2,3]

l1_copy = [];

for item in l1:
    l1_copy.append(item)

print(l1_copy)
print(id(l1), id(l1_copy))

[1, 2, 3]
2710361928960 2710361923328

In [235]:
print(id(l1[0]), id(l1_copy[0]))

140729827609016 140729827609016

In [236]:
l1_copy[0] = 2;

In [237]:
l1

[1, 2, 3]

In [238]:
l1_copy

[2, 2, 3]

In [239]:
print(id(l1[0]), id(l1_copy[0]))

140729827609016 140729827609048

In [240]:
l1_copy = [item for item in l1]

In [241]:
l1_copy

[1, 2, 3]

In [242]:
id(l1_copy)

2710362017344

In [243]:
l1_copy = l1.copy()

In [244]:
id(l1_copy)

2710341192384

In [245]:
id(l1)

2710361928960

In [246]:
l1_copy = list(l1)

In [247]:
id(l1_copy)

2710362026944

In [248]:
t1 = (1,2,3)

In [249]:
t2 = tuple(t1)

In [250]:
id(t1), id(t2)

(2710342305152, 2710342305152)

In [251]:
t1 = ([1,2,3], 2)

In [252]:
t2 = tuple(t1)

In [254]:
id(t1[0]), id(t2[0])

(2710362028288, 2710362028288)

In [256]:
t1[0][0] = [2]

In [257]:
t2

([[2], 2, 3], 2)

In [258]:
l1 = [1,2,3]
l2 = l1[:]

In [259]:
id(l1), id(l2)

(2710362221056, 2710362211136)

In [260]:
s1 = 'python'
s2 = str(s1)

In [261]:
id(s1), id(s2)

(2710270295184, 2710270295184)

In [262]:
import copy

In [263]:
l1 = [1,2,3]
l2 = copy.copy(l1)

In [264]:
id(l1), id(l2)

(2710356968704, 2710356958080)

In [265]:
v1 = [0, 0]
v2 = [0, 0]

line1 = [v1, v2]

In [266]:
line2 = line1.copy()

In [267]:
id(line1), id(line2)

(2710361855040, 2710362048832)

In [268]:
id(line1[0]), id(line2[0])

(2710362054144, 2710362054144)

In [269]:
line2 = [v for v in line1]

In [270]:
line1 is line2

False

In [271]:
line1[0] is line2[0]

True

In [272]:
line2 = [v.copy for v in line1]

In [273]:
line2[0] is line1[0]

False

In [274]:
v1 = [1,1]
v2 = [2,2]
v3 = [3,3]
v4=[4,4]

In [275]:
plane1 = [v1, v2]

In [276]:
plane2 = copy.deepcopy(plane1)

In [277]:
plan1 is plane2

NameError: name 'plan1' is not defined

In [278]:
plane2 is plane1

False

In [279]:
plane1[0] is plane2[0]

False

In [280]:
class Point:
    def __init__(self, x, y) -> None:
        self.x = x
        self.y = y

    def __repr__(self) -> str:
        return f'Point({self.x}, {self.y})'

In [281]:
class Line:
    def __init__(self, p1, p2):
        self.p1 = p1
        self.p2 = p2

    def __repr__(self) -> str:
        return f'Line({self.p1.__repr__()}, {self.p2__repr__()})'

In [282]:
p1 = Point(0, 0);
p2 = Point(10, 10)

line1 = Line(p1, p2)
line2 = copy.deepcopy(line1)

In [285]:
print(line1.p1, id(line1.p1))

Point(0, 0) 2710350970320

In [286]:
print(line2.p1, id(line2.p1))

Point(0, 0) 2710350965232

In [287]:
s = slice(0, 2)

In [288]:
type(s)

slice

In [289]:
s.start

0

In [290]:
s.end

AttributeError: 'slice' object has no attribute 'end'

In [291]:
s.stop

2

In [292]:
s.step

In [293]:
l =[2,3,4]

In [294]:
l[s]

[2, 3]

In [295]:
l = 'python'
l[1:1]

''

In [296]:
l[:]

'python'

In [297]:
l[::-1]

'nohtyp'

In [298]:
s1 = slice(0, 6, 2)

In [299]:
s1.step

2

In [300]:
s1 = slice(None, 4)

In [301]:
l[s1]

'pyth'

In [302]:
l{None:4}

SyntaxError: invalid syntax (4102045980.py, line 1)

In [303]:
l[None:4]

'pyth'

In [304]:
l[3:]

'hon'

In [305]:
l[3:0:-1]

'hty'

In [306]:
l[3:-1:-1]

''

In [307]:
l

'python'

In [308]:
l[3:0:-1]

'hty'

In [309]:
l[::-1]

'nohtyp'

In [310]:
l[3:-1:-2]

''

In [311]:
l

'python'

In [312]:
l[3:0]

''

In [313]:
l[3:0:-1]

'hty'

In [314]:
l[3:-1:-1]

''

In [326]:
l[3:-8:-1]

'htyp'

In [345]:
l[3:-6:-1]

'hty'

In [349]:
s = slice(1,4)

In [352]:
s

slice(1, 4, None)

In [353]:
s.indices(2)

(1, 2, 1)

In [354]:
slice(0, 100, 2).indices(10)

(0, 10, 2)

In [355]:
range(slice(0, 100, 2).indices(10))

TypeError: 'tuple' object cannot be interpreted as an integer

In [358]:
t = slice(0, 100, 2).indices(10)

list(range(*t))

[0, 2, 4, 6, 8]

In [361]:
s = None
e = None
ss = -1
l= 10
list(range(*(slice(s, e, ss).indices(l))))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [362]:
l[::-1]

TypeError: 'int' object is not subscriptable

In [363]:
l

10

In [364]:
l = [1,2,3,4,5]

In [365]:
len(l)

5

In [366]:
l.__len__()

5

In [367]:
l.__getitem__(2)

3

In [368]:
l.__getitem__(slice(None, None, -1))

[5, 4, 3, 2, 1]

In [369]:
for item in l:
    print(item**2)

1
4
9
16
25

In [371]:
index=0
while True:
    try:
        item = l.__getitem__(index)
    except IndexError:
        break
    print(item ** 2)
    index += 1

1
4
9
16
25

In [380]:
class Silly:
    def __init__(self, n):
        self.n = n
    
    def __len__(self):
        print('Called __len__')
        return self.n
    
    def __getitem__(self,value):
        # print(f'You requested item at {value}')
        if value < 0 or value >= self.n:
            raise IndexError
        return 'This is a silly element'

In [381]:
silly = Silly(10)

In [382]:
len(silly)

Called __len__

10

In [383]:
silly.__getitem__(100)

IndexError:

for item in silly:
nm    print(item)

In [387]:
from functools import lru_cache


@lru_cache(2 ** 10)
def fib(n):
    if n < 2:
        return 1
    else: 
        return fib(n-1) + fib(n-2)

In [388]:
fib(5)

8

In [389]:
fib(3)

3

In [431]:
class Fib:
    def __init__(self, n):
        self.n = n
    
    def __len__(self):
        return self.n
    
    def __getitem__(self, s):
        if isinstance(s, int):
            if s<0:
                s = self.n + s
            if s<0 or s> self.n:
                raise IndexError
            else: return Fib._fib(s)
        elif isinstance(s, slice):
            start, stop, step = s.indices(self.n)
            rng = range(start, stop, step)
            return [Fib._fib(i) for i in rng]
            

    @staticmethod
    @lru_cache(2 ** 10)
    def _fib(n):
        if n<2:
            return 1
        else :
            return Fib._fib(n-1) + Fib._fib(n-2)

In [432]:
fib = Fib(10)

In [433]:
list(fib)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [434]:
fib[5]

8

In [435]:
fib[::-1]

[55, 34, 21, 13, 8, 5, 3, 2, 1, 1]